<div class="card" id="card">
  <div class="card__img">
    <div class="canvas"></div>
  </div>
  <div class="card__description">
    <div class="card__container"> 
          <h2 class="card__price">Promoção</h2> 
          <h2 class="card__price">R$699</h2> 
        <div class="card__rating">
            <svg height="25" width="23" class="star rating" data-rating="1">
                <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78"/>
            </svg>
            <svg height="25" width="23" class="star rating" data-rating="1">
                <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78"/>
            </svg>
            <svg height="25" width="23" class="star rating" data-rating="1">
                <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78"/>
            </svg>
            <svg height="25" width="23" class="star rating" data-rating="1">
                <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78"/>
            </svg>
            <svg height="25" width="23" class="star rating" data-rating="1">
                <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78"/>
            </svg>
        </div>
        <h1 class="card__title">Geladeira Cycle Flex</h1> 
        <h3 class="card__subtitle">Blender 3D & Angular</h3>
        <p>
          O Refrigerador Cycle Defrost DC35A possui um design único e moderno,
          com puxador ergonômico e integrado. A prateleira porta-latas é
          reversível e acomoda 5 unidades, melhorando o aproveitamento interno
          do refrigerador. O super freezer a -18º conserva a qualidade dos
          congelados por muito mais tempo.
        </p> 
      <a class="btn btn-warning">Quero comprar</a>
    </div>
  </div>
</div>
