
@import '~bootstrap/dist/css/bootstrap.min.css'; 
html,
body {
  margin: 0;  
}
canvas {
  width: 450px;
  height: 450px;
  display: block;  
  background-color: #333333;
}

#c {
  width: 450px;
  height: 450px;
  display: block; 
} 